[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Farzadzara
	email = 59429147+Farzadzara@users.noreply.github.com
